@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-table-wrapper {
  margin-top: 32px !important;
  font-family: 'poppins', sans-serif !important;
  font-size: 14px !important;
}

.custom-table-filter select,
.custom-table-filter input,
.custom-table-pagination button {
  @apply cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500 !important;
}

.custom-table-filter select option {
  cursor: pointer !important;
}
